---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <BaseHead title={title}/> -->
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <!-- <Footer /> -->
  </body>
</html>

<style lang="scss">
  html {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    font-size: 18px;
    text-align: left;
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 1.4;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
</style>
